<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <% @articles.each do |article| %>
        <div class="col">
            <div class="card h-100">
                <img src="https://picsum.photos/id/1<%= article.id %>/200/200" class="card-img-top" alt="Image" />
                <div class="card-body">
                    <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-light" %></h5>
                    <p class="card-text text-light">
                        <% if article.user %>
                            by <%= link_to article.user.username, user_path(article.user) %> 
                        <% end %> <!-- Closing the Ruby block -->
                    </p> <!-- Moved closing tag here -->
                    <p class="card-text text-light">
                        <%= truncate(article.description, length: 100) %>
                        </br>
                        <%= link_to "View", article_path(article), class: "btn btn-outline-light" %>
                        <% if logged_in? && (article.user == current_user || current_user.admin?) %>
                            <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-light" %>
                            <%= link_to "Delete", article_path(article), class: "btn btn-outline-light", method: :delete, data: { confirm: "Are you sure?" } %>
                        <% end %>
                    </p>
                </div>
                <div class="card-footer">
                    <small>Created <%= time_ago_in_words(article.created_at) %> ago, 
                    edited <%= time_ago_in_words(article.updated_at) %> ago</small>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>
