<% if @article.errors.any? %>
    <h2 class="text-danger text-center">Errors occurred: </h2>
    <ul class="text-center">
        <% @article.errors.full_messages.each do |msg| %>
            <li class="text-danger text-center"><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<div class="container my-custom-container">
    <div class="form-body">
        <div class="row">
            <div class="form-holder border border-white p-4">
                <div class="form-content">
                    <div class="form-items">
                        <%= form_with(model: @article, local: true, data: {turbo: false })  do |f| %>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <%= f.label :title, class: "text-white" %>
                                    <%= f.text_field :title, class: "form-control", placeholder: "Enter title", required: true %>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <%= f.label :description, class: "text-white" %>
                                    <%= f.text_area :description, rows: 10, class: "form-control larger-description", placeholder: "Enter description", required: true %>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="form-group">
                                    <%= f.submit class: "btn btn-outline-light mr-2" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4"> <!-- Added margin top -->
        <%= link_to 'Cancel and return to articles listing', articles_path , class:"btn btn-outline-light"%>
    </div>
</div>

