<div class="container mt-5" id="showing">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1 text-dark"><%= @article.title %></h1>
                    <small>Created <%= time_ago_in_words(@article.created_at) %> ago, edited <%= time_ago_in_words(@article.updated_at) %> ago</small>
                    <!-- Post meta content-->
                    <!-- Post categories-->
                    <br />
                    <% if logged_in? &&  (@article.user == current_user || current_user.admin? )  %>
                        <%= link_to 'Edit', edit_article_path(@article.id), class:"badge bg-secondary text-decoration-none link-light"  %>
                        <%= link_to 'Delete', article_path(@article.id), class:"badge bg-secondary text-decoration-none link-light" , data: { "turbo_method": :delete, "turbo_confirm": "Are you sure?" } %>
                    <% end %>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="https://picsum.photos/id/1<%=@article.id%>/900/400" alt="..." /></figure>
                <!-- Post content-->
                <div class="d-flex align-items-center"> <!-- Use flex utilities to align content -->
                    <%= link_to avatar_for(@article.user, size: '40x40'), user_path(@article.user), class: "me-2" %> 
                    <small>By <%= link_to @article.user.username, user_path(@article.user) %></small>
                </div>
                <section class="mb-5">
                    <p><strong>Description: </strong><%= simple_format(@article.description) %></p>
                    <%= link_to 'Return to articles listing', articles_path, class:"badge bg-secondary text-decoration-none link-light" %>
                </section>
            </article>
        </div>
        <div class="col-lg-4" >
            <!-- Categories widget-->
            <div class="card mb-4" style="background: white;">
                <div class="card-header text-dark">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                                <% if @article.categories.any? %>
                                    <%= render @article.categories %> 
                                <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4 " style="background: white;">
                <div class="card-header text-dark">Side Widget</div>
                <div class="card-body text-dark">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>
