
    <div class="container mt-5" id="showing">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1 text-dark"><%= @article.title %></h1>
                        <!-- Post meta content-->
                        <small>Created <%= time_ago_in_words(@article.created_at) %> ago by <%= @article.user.username %>, edited <%= time_ago_in_words(@article.updated_at) %> ago</small>
                        <!-- Post categories-->
                        <br />
                        <%= link_to 'Edit', edit_article_path(@article.id), class:"badge bg-secondary text-decoration-none link-light"  %>
                        <%= link_to 'Delete', article_path(@article.id), class:"badge bg-secondary text-decoration-none link-light" , data: { "turbo_method": :delete, "turbo_confirm": "Are you sure?" } %>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="https://picsum.photos/id/1<%=@article.id%>/900/400" alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p><strong>Description: </strong><%= simple_format(@article.description) %></p>
                        <%= link_to 'Return to articles listing', articles_path, class:"badge bg-secondary text-decoration-none link-light" %>
                    </section>
                </article>
            </div>
            <div class="col-lg-4" >
                <!-- Categories widget-->
                <div class="card mb-4 ">
                    <div class="card-header text-light">Categories</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">Web Design</a></li>
                                    <li><a href="#!">HTML</a></li>
                                    <li><a href="#!">Freebies</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">JavaScript</a></li>
                                    <li><a href="#!">CSS</a></li>
                                    <li><a href="#!">Tutorials</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4 ">
                    <div class="card-header text-light">Side Widget</div>
                    <div class="card-body text-light">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                </div>
            </div>
        </div>
    </div>


