<h1 class="text-center mt-4 text-white">Create a New Category</h1>

<div class="container my-custom-container">
    <%= render 'shared/errors', obj: @category %>
    <div class="form-body">
        <div class="row justify-content-center">
            <div class="form-holder border border-white p-4" style="width: 400px;">
                <div class="form-content">
                    <div class="form-items">
                        <%= form_with(model: @category, local: true, data: {turbo: false })  do |f| %>
                            <div class="col-md-16">
                                <div class="form-group">
                                    <%= f.label :name, "Category name", class: "text-white" %>
                                    <%= f.text_field :name , class: "form-control", placeholder: "Enter name", required: true %>
                                </div>
                            </div>
                            </br>
                            <div class="col-md-16 ">
                                <div class="form-group">
                                    <%= f.submit class: "btn btn-outline-light mr-2" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4"> <!-- Added margin top -->
        <%= link_to 'Cancel and return to articles listing', articles_path , class:"btn btn-outline-light"%>
    </div>
</div>

